/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-decoration: none;*/
/*}*/
/*.dv{*/
  /*!*min-width: 400px;*!*/
    /*!*max-width: 1000px;*!*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*background-color: #00b3ee;*/
/*}*/
/*.dv ul li{*/
    /*display: table-cell;*/
    /*width: auto;*/
    /*height: 50px;*/
    /*text-align: center;*/
    /*vertical-align: bottom;*/
/*}*/
/*.dv ul li a{*/
    /*color: white;*/
    /*display: table-cell;*/
    /*width: 1000px;*/
    /*height: 50px;*/
    /*vertical-align: middle;*/
/*}*/

/*align-self:  - выравнивание по верт для элемента*/
.dv{
    display: flex;

    background-color: red;
    height: 50px;
    /*align-items: center;*/
    /*justify-content: space-around;*/

}
menu a{
    text-decoration: none;
    /*padding: 0 20px;*/
}
menu{
    display: flex;
    /*flex-wrap: wrap;*/
/*overflow: hidden;*/

    /*justify-content: space-around;*/
}
li{
    list-style-type: none;
    /*display: inline;*/
    /*padding: 20px;*/
    /*float: left;*/
}
/*.bg{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 30px auto;*/
    /*height: 500px;*/
    /*width: 500px;*/
/*min-width: 400px;*/
    /*background-color: #00cc99;*/

    /*!*border: solid ;*!*/

    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*align-items: stretch;*/
    /*align-content: stretch;*/
    /*!*flex-flow: row wrap;*!*/
/*padding: 0;*/
/*}*/

/*.dv1{*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: 0;*/
    /*text-align: center;*/
    /*!*margin: 10px auto;*!*/

    /*!*padding: 20px;*!*/
    /*!*width: 250px;*!*/
    /*!*height: 100px;*!*/
    /*!*flex-basis: 100px;*!*/
    /*!*background-color: yellow;*!*/
    /*!*flex-grow: 1;*!*/
/*}*/
/*.r1{*/
    /*background-color: #0000AA;*/
    /*flex-grow: 1;*/
/*}*/
/*.r2{*/
    /*background-color: red;*/
    /*flex-grow:3;*/
/*}*/