
<div class="panel-body">


        <div class="row">

            <div class="form-group col-md-4">
                <label>Название книги:</label>
                <input class="form-control" ng-model="item.name" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Жанр:</label>
                <input class="form-control" ng-model="item.janre" />
            </div>
        </div>
        <div class="row">
        <div class="form-group col-md-4">
        <label>Количество страниц:</label>
        <input class="form-control" ng-model="item.quant" />
        </div>
        </div>

        <button class="btn btn-primary" ng-click="createBook(item)">сохранить</button>

        <button class="btn btn-primary " ng-click="cancelEdit(currentAutorBk)">отмена</button>




</div>