
<div class="panel-body col-md-6">
<div class="form-group">
    <table class="table  table-striped">
        <thead>
        <tr >
            <th>Название книги</th>
            <th class="text-right">Жанр книги</th>
            <th class="text-right">Количество страниц</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in booksOfautor">
            <td><h4>{{item.name}}</h4></td>
            <td class="text-right"><h4>{{item.janre}}</h4></td>
          <td class="text-right"><h4>{{item.quant}}</h4></td>
            <td class="text-right"><button class="btn btn-xs btn-primary" ng-click="deleteBook(autorBk)">удалить книгу</button></td>
        </tr>

        </tbody>

    </table>
</div>

    <button class="btn  btn-primary" ng-click="editBooks(booksOfautor)">редактировать</button>
    <button class="btn  btn-primary" ng-click="toTb()">на главную</button>

</div>