<div class="panel-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>фамилия</th>
            <th class="text-right">имя</th>
            <th class="text-right">отчество</th>
            <th class="text-right">дата рождения</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in autors">
            <td>{{item.firstName}}</td>
            <td class="text-right">{{item.lastName}}</td>
            <td class="text-right">{{item.patronymic}}</td>
            <td class="text-right"> {{getDt(item.dateOfbr) | date : "dd MM yyyy"}}</td>

            <td class="text-center">
                <button class="btn btn-xs btn-info" ng-click="showBk(item)">список книг</button>
                <button class="btn btn-xs btn-info" ng-click="crBk(item)">добавить книгу</button>
            </td>
            <td class="text-center">
                <button class="btn btn-xs btn-primary" ng-click="delete(item)">удалить автора</button>
                <button class="btn btn-xs btn-primary" ng-click="editOrCreate(item)">редактировать</button>
            </td>
        </tr>
        </tbody>

    </table>

    <div class="row">
        <div class="col-md-9">
            <button class="btn btn-primary" ng-click="refresh()">обновить</button>
            <button class="btn btn-primary" ng-click="editOrCreate()">добавить автора</button>
            <p class="text-center">{{findedBook}}</p>
        </div>


        <form class="col-md-offset-6 ">

            <div class="form-group col-md-4 ">
                <input type="text" class="form-control" placeholder="название книги" ng-model="nameOfBook">
            </div>
            <button class="btn btn-primary" ng-click="search(nameOfBook)">поиск</button>

        </form>

    </div>

</div>